In [60]:
!pip install mysql-connector-python
!pip install pymysql

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.3.0)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
from mysql.connector import connect, Error
import os 

mydb = connect(
    host=os.environ.get("HOST"),
    user=os.environ.get('USER'),
    password=os.environ.get('PASSWORD'),
    database=os.environ.get('DATABASE'),
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x16e1e5f70>

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

In [3]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE testdb")

In [ ]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

In [58]:
import pandas as pd

df = pd.read_csv('Monthly_Transportation_Statistics_20250421.csv')
columns = df.columns

filtered_columns = [col for col in columns if not col.startswith('U.S. Airline Traffic') and not col.startswith('Date')]
df.drop(columns=filtered_columns, inplace=True)
df.dropna(inplace=True)
print(type(df))
print(df.head(5))

# df.tail(100)

<class 'pandas.core.frame.DataFrame'>
                       Date  \
840  01/01/2017 12:00:00 AM
841  02/01/2017 12:00:00 AM
842  03/01/2017 12:00:00 AM
843  04/01/2017 12:00:00 AM
844  05/01/2017 12:00:00 AM

     U.S. Airline Traffic - Total - Seasonally Adjusted  \
840                                         70190000.0
841                                         69790000.0
842                                         69680000.0
843                                         70350000.0
844                                         70720000.0

     U.S. Airline Traffic - International - Seasonally Adjusted  \
840                                          8910000.0
841                                          8800000.0
842                                          8770000.0
843                                          9150000.0
844                                          9060000.0

     U.S. Airline Traffic - Domestic - Seasonally Adjusted  \
840                                         61280000.0
841                                         60990000.0
842                                         60910000.0
843                                         61210000.0
844                                         61660000.0

     U.S. Airline Traffic - Total - Non Seasonally Adjusted  \
840                                         70190000.0
841                                         69790000.0
842                                         69680000.0
843                                         70350000.0
844                                         70720000.0

     U.S. Airline Traffic - International - Non Seasonally Adjusted  \
840                                          8910000.0
841                                          8800000.0
842                                          8770000.0
843                                          9150000.0
844                                          9060000.0

     U.S. Airline Traffic - Domestic - Non Seasonally Adjusted
840                                         61280000.0
841                                         60990000.0
842                                         60910000.0
843                                         61210000.0
844                                         61660000.0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create engine
engine = create_engine("mysql+pymysql://root:********@localhost/testdb")

# Write DataFrame to MySQL
df.to_sql(name='U.S. Air Traffic', con=engine, if_exists='replace', index=False)

97